<html>
      <head>
        <link rel="stylesheet" href="/styles/ProfilePage CSS.css">
      </head>
        <title>Profile Page</title>
    <body>
      <% const username = user.id %> 
        <h1>Welcome, <%= username %></h1>
    <ul>
      <li><a class="active" href="/<%= username%>/profile">Profile</a></li>
      <li><a href="/<%= username%>/grades">Grades</a></li>
      <li><a href="/<%= username%>/schedule">Schedule</a></li>
    </ul>

    <div class="outer divbody">
      <div class="inner1" >
        <img id="profile" src="/images/<%= user.image %>" alt="">
      </div>
      <div class="inner2" >
        <p><strong><%= user.name%></strong></p>
        <p class = "branch"><%= user.branch%></p>
      </div>
    </div>
    <table>
      <tr>
        <th>Admission Number:</th>
        <td><%= user.admissionnumber%></td>
      </tr>
      <tr>
        <th>Father's Name:</th>
        <td><%= user.fathersname %></td>
      </tr>
      <tr>
        <th>Email Id: </th>
        <td><%= user.emailid%></td>
      </tr>
      <tr>
        <th>Mobile Number:</th>
        <td><%= user.number%></td>
      </tr>
    </table>
    </body>
</html>