<html>
      <head>
        <link rel="stylesheet" href="/styles/ProfilePage CSS.css">
      </head>
        <title>Profile Page</title>
    <body>
      <%- include('./includes/sidebar') %> 
    <div class="outer divbody">
      <div class="inner1" >
        <img id="profile" src="/images/<%= user.image %>" alt="">
      </div>
      <div class="inner2" >
        <p><strong><%= user.name%></strong></p>
        <p class = "branch"><%= user.branch%></p>
      </div>
    </div>
    <table>
      <tr>
        <th>Admission Number:</th>
        <td><%= user.admission_number%></td>
      </tr>
      <tr>
        <th>Father's Name:</th>
        <td><%= user.father_name %></td>
      </tr>
      <tr>
        <th>Email Id: </th>
        <td><%= user.emailid%></td>
      </tr>
      <tr>
        <th>Mobile Number:</th>
        <td><%= user.mobile_number%></td>
      </tr>
    </table>
    </body>
</html>